body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	display: grid;
    column-gap: 50px;
    grid-template-columns: auto;
    justify-content: center;
    padding-top: 100px;
font-family: 'Open Sans', sans-serif;
 
}
button{
  background-color: initial;
  background-image: linear-gradient(-180deg, #00D775, #00BD68);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
  height: 44px;
  line-height: 44px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;
  z-index: 9;
  border: 0;
}
.jwc_active{
	background: #0080ff !important;
	color: #fff;
}
button:hover {
  background: #00bd68;
}
.menu{
  display: grid;
  column-gap: 5px;
  grid-template-columns: auto auto auto;
  padding: 10px;
  width: 500px;
  max-width: 500px;
}

.load{
	padding: 10px;
	width: 500px;
  max-width: 500px;
	  white-space: pre-wrap;


}